a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
    display: none;
}

.page-width {
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.product.product--medium.product--left.product--stacked {
    display: flex;
    flex-wrap: wrap;
}

.product.grid {
    gap: 0;
}

.product {
    margin: 0;
}

.grid {
    padding: 0;
    list-style: none;
}

.builder_swatches {
    width: 25%;
}

.builder_swatches ul li.tab-link img {
    max-width: 40px;
}

@media only screen and (min-width: 768px) {
    ul.builder_tabs li.tab-link span {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
}

ul.builder_tabs li:after {
    content: "";
    position: absolute;
    bottom: -5px;
    border-bottom: 2px solid #DCC7B0;
    width: 100%;
    left: 0;
}

p.current_builder_active_tabs {
    color: #252525;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.builder_swatches .builder_tabstabcontent.current {
    display: flex;
}

.builder_swatches .builder_tabstabcontent {
    display: none;
}

.builder_swatches ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 4px 16px;
    padding: 0 30px 0 0;
    max-width: 380px;
}

.builder_swatches ul li {
    width: calc(25% - 12px);
}

.prelative,
li.alphabetical_icon {
    position: relative;
}

li.alphabetical_icon {
    cursor: pointer;
}

li.alphabetical_icon {
    text-align: center;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 70px;
}

.builder_swatches ul li img {
    max-width: 55px;
}

li.alphabetical_icon span {
    position: absolute;
    color: #252525;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: .2px;
    text-transform: uppercase;
    border: 1px solid #000;
    background: #fff;
    padding: 6px;
    visibility: hidden;
}

.errormessage_builder {
    color: #f60909;
}

ul.builder_tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    max-width: 220px;
}

li.alphabetical_icon:hover {
    border: 1px solid #DCC7B0;
}

li.alphabetical_icon:hover span {
    visibility: visible;
    transition: 1s all;
}

ul.builder_tabs li.current {
    opacity: 1;
}

ul.builder_tabs li {
    cursor: pointer;
}

ul.builder_tabs li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    position: relative;
    width: 33.33%;
    color: #252525;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: .5;
    padding-bottom: 5px;
    margin: 0 auto 5px 0;
}

.grid__item.product__media-wrapper {
    width: 50% !important;
}

.builderChainProduct {
    text-align: center;
    margin: auto;
    position: relative;
}

.builderChainProductImage {
    width: 100%;
    height: 100%;
}

.builderChainContent {
    position: absolute;
    right: 0;
    left: 0;
    top: 15px;
}

.builderChainContent p {
    margin: 0;
    color: #252525;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
}

.builderChainContent p {
    margin: 0;
    color: #252525;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
}

p.coloured_text {
    color: #dcc7b0;
}

.builderChainProductImage img {
    width: 100%;
}

.builderChainPoint {
    position: absolute;
    left: -5000px;
    width: 16%;
    top: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0);
    display: block !important;
}

.builderChainPoint img {
    max-width: 52px;
}

.builderChainPoint img {
    width: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translate(-50%);
    border: 0 solid #CCC;
}

.builderChainPoint .remove_selected_from_builder {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    position: absolute;
    left: 25px;
    top: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

button.remove_selected_from_builder {
    cursor: pointer;
}

.builderChainPoint:hover .remove_selected_from_builder {
    visibility: visible;
    width: auto;
    height: auto;
    overflow: auto;
}

.builderChainPoint[data-point="1"][data-style="odd"] {
    left: 1%;
    top: 47%;
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    transform: rotate(75deg);
    transform-origin: top right;
}

.builderChainPoint[data-point="2"][data-style="odd"] {
    left: 6%;
    top: 63.5%;
    -webkit-transform: rotate(71.5deg);
    -moz-transform: rotate(71.5deg);
    -ms-transform: rotate(71.5deg);
    -o-transform: rotate(71.5deg);
    transform: rotate(71.5deg);
    transform-origin: top right;
}

.builderChainPoint[data-point="3"][data-style="odd"] {
    left: 13%;
    top: 73.5%;
    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
    transform-origin: top right;
}

.builderChainPoint[data-point="4"][data-style="odd"] {
    left: 23%;
    top: 80.5%;
    -webkit-transform: rotate(49deg);
    -moz-transform: rotate(49deg);
    -ms-transform: rotate(49deg);
    -o-transform: rotate(49deg);
    transform: rotate(49deg);
    transform-origin: top right;
}

.builderChainPoint[data-point="5"][data-style="odd"] {
    left: 34%;
    top: 85%;
    -webkit-transform: rotate(37deg);
    -moz-transform: rotate(37deg);
    -ms-transform: rotate(37deg);
    -o-transform: rotate(37deg);
    transform: rotate(37deg);
    transform-origin: top right;
}

.builderChainPoint[data-point="6"][data-style="odd"] {
    left: 46.3%;
    top: 78%;
}

.builderChainPoint[data-point="7"][data-style="odd"] {
    left: 57%;
    top: 78%;
    -webkit-transform: rotate(-37deg);
    -moz-transform: rotate(-37deg);
    -ms-transform: rotate(-37deg);
    -o-transform: rotate(-37deg);
    transform: rotate(-37deg);
    transform-origin: top left;
}

.builderChainPoint[data-point="8"][data-style="odd"] {
    left: 67%;
    top: 72.5%;
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg);
    transform-origin: top left;
}

.builderChainPoint[data-point="9"][data-style="odd"] {
    left: 74%;
    top: 64.5%;
    -webkit-transform: rotate(-64deg);
    -moz-transform: rotate(-64deg);
    -ms-transform: rotate(-64deg);
    -o-transform: rotate(-64deg);
    transform: rotate(-64deg);
    transform-origin: top left;
}

.builderChainPoint[data-point="10"][data-style="odd"] {
    left: 83.5%;
    top: 40.5%;
    -webkit-transform: rotate(-72deg);
    -moz-transform: rotate(-72deg);
    -ms-transform: rotate(-72deg);
    -o-transform: rotate(-72deg);
    transform: rotate(-72deg);
    transform-origin: top left;
}

.builderChainPoint[data-point="11"][data-style="odd"] {
    left: 87.5%;
    top: 23%;
    -webkit-transform: rotate(-76deg);
    -moz-transform: rotate(-76deg);
    -ms-transform: rotate(-76deg);
    -o-transform: rotate(-76deg);
    transform: rotate(-76deg);
    transform-origin: top left;
}


.builderChainPoint[data-point="1"][data-style="even"] {
    left: 0%;
    top: 44%;
    -webkit-transform: rotate(78deg);
    -moz-transform: rotate(78deg);
    -ms-transform: rotate(78deg);
    -o-transform: rotate(78deg);
    transform: rotate(78deg);
    transform-origin: top right;
}

.builderChainPoint[data-point="2"][data-style="even"] {
    left: 4.5%;
    top: 59%;
    -webkit-transform: rotate(73deg);
    -moz-transform: rotate(73deg);
    -ms-transform: rotate(73deg);
    -o-transform: rotate(73deg);
    transform: rotate(73deg);
    transform-origin: top right;
}

.builderChainPoint[data-point="3"][data-style="even"] {
    left: 10%;
    top: 69.5%;
    -webkit-transform: rotate(69deg);
    -moz-transform: rotate(69deg);
    -ms-transform: rotate(69deg);
    -o-transform: rotate(69deg);
    transform: rotate(69deg);
    transform-origin: top right;
}

.builderChainPoint[data-point="4"][data-style="even"] {
    left: 17.5%;
    top: 79%;
    -webkit-transform: rotate(63deg);
    -moz-transform: rotate(63deg);
    -ms-transform: rotate(63deg);
    -o-transform: rotate(63deg);
    transform: rotate(63deg);
    transform-origin: top right;
}

.builderChainPoint[data-point="5"][data-style="even"] {
    left: 28%;
    top: 84.5%;
    -webkit-transform: rotate(48deg);
    -moz-transform: rotate(48deg);
    -ms-transform: rotate(48deg);
    -o-transform: rotate(48deg);
    transform: rotate(48deg);
    transform-origin: top right;
}

.builderChainPoint[data-point="6"][data-style="even"] {
    left: 41%;
    top: 82%;
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    transform: rotate(18deg);
    transform-origin: top right;
}

.builderChainPoint[data-point="7"][data-style="even"] {
    left: 51.5%;
    top: 78.5%;
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    transform: rotate(-18deg);
    transform-origin: top left;
}

.builderChainPoint[data-point="8"][data-style="even"] {
    left: 62%;
    top: 76%;
    -webkit-transform: rotate(-48deg);
    -moz-transform: rotate(-48deg);
    -ms-transform: rotate(-48deg);
    -o-transform: rotate(-48deg);
    transform: rotate(-48deg);
    transform-origin: top left;
}

.builderChainPoint[data-point="9"][data-style="even"] {
    left: 70.5%;
    top: 69%;
    -webkit-transform: rotate(-62deg);
    -moz-transform: rotate(-62deg);
    -ms-transform: rotate(-62deg);
    -o-transform: rotate(-62deg);
    transform: rotate(-62deg);
    transform-origin: top left;
}

.builderChainPoint[data-point="10"][data-style="even"] {
    left: 77%;
    top: 59.5%;
    -webkit-transform: rotate(-69deg);
    -moz-transform: rotate(-69deg);
    -ms-transform: rotate(-69deg);
    -o-transform: rotate(-69deg);
    transform: rotate(-69deg);
    transform-origin: top left;
}

.builderChainPoint[data-point="11"][data-style="even"] {
    left: 84%;
    top: 40%;
    -webkit-transform: rotate(-74deg);
    -moz-transform: rotate(-74deg);
    -ms-transform: rotate(-74deg);
    -o-transform: rotate(-74deg);
    transform: rotate(-74deg);
    transform-origin: top left;
}

.builderChainPoint[data-point="12"][data-style="even"] {
    left: 87%;
    top: 26%;
    -webkit-transform: rotate(-78deg);
    -moz-transform: rotate(-78deg);
    -ms-transform: rotate(-78deg);
    -o-transform: rotate(-78deg);
    transform: rotate(-78deg);
    transform-origin: top left;
}

body .product__info-wrapper.grid__item {
    width: 25% !important;
}

body .product__info-wrapper.grid__item {
    max-width: 39rem !important;
    margin: 0 auto;
}

.selected_letters_and_pro {
    display: none;
    width: 100%;
    background: #fff;
    padding: 15px 20px;
}

.selected_letters_and_pro.active {
    display: block;
    margin-bottom: 80px;
}

.selected_letters_and_pro ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.selected_letters_and_pro li {
    width: calc(25% - 12px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected_letters_and_pro li img {
    max-height: 50px;
}

.selected_letters_and_pro img {
    max-width: 100%;
}

.selected_letters_and_pro button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    color: #bbb;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.892px;
    text-decoration-line: underline;
}

.product__info-container>*+* {
    margin: 1.5rem 0;
}

p.dfp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 6px;
}

.dfp span.cl {
    color: #000;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.dfp span.cl:first-child {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

p.hrline {
    border-bottom: 1px solid #EBEBEB;
    display: block;
    padding: 2px 0;
}

.button {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0 3rem;
    cursor: pointer;
    font: inherit;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: box-shadow .1s ease;
    appearance: none;
    background-color: rgba(234, 169, 193, 1);
    min-width: calc(12rem + 1px * 2);
    min-height: calc(4.5rem + 1px * 2);
    border-radius: 0;
    position: relative;
}

.loading-overlay__spinner {
    width: 1.8rem;
    display: inline-block;
}

.hidden {
    display: none !important;
}

.spinner {
    animation: rotator 1.4s linear infinite;
}

button.product-form__submit_builder.button {
    background: #dcc7b0;
    border: none;
    box-shadow: none;
    color: #303030;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    padding: 10px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.button--full-width {
    display: flex;
    width: 100%;
}

.link {
    cursor: pointer;
    display: inline-block;
    border: none;
    box-shadow: none;
    text-decoration: underline;
    text-underline-offset: .3rem;
    color: rgb(var(--color-link));
    background-color: transparent;
    font-size: 1.4rem;
    font-family: inherit;
}

.product__view-details {
    display: block;
    text-decoration: none;
}

.product:not(.featured-product) .product__view-details {
    display: none;
}

.product__view-details .icon {
    width: 1.2rem;
    margin-left: 1.2rem;
    flex-shrink: 0;
}

.button:after, .button:before {
    display: none;
}

@media screen and (min-width: 990px) {

    .product--medium:not(.product--no-media) .product__media-wrapper,
    .product--small:not(.product--no-media) .product__info-wrapper {
        max-width: 55%;
        width: calc(55% - 16px / 2);
    }
}

@media only screen and (min-width: 768px) {
    .builderChainPoint[data-point="1"][data-style=odd] {
        left: 1%;
        top: 47%;
        -webkit-transform: rotate(75deg);
        -moz-transform: rotate(75deg);
        -ms-transform: rotate(75deg);
        -o-transform: rotate(75deg);
        transform: rotate(75deg);
        transform-origin: top right;
    }

    .builderChainPoint[data-point="2"][data-style=odd] {
        left: 6%;
        top: 63.5%;
        -webkit-transform: rotate(71.5deg);
        -moz-transform: rotate(71.5deg);
        -ms-transform: rotate(71.5deg);
        -o-transform: rotate(71.5deg);
        transform: rotate(71.5deg);
        transform-origin: top right;
    }

    .builderChainPoint[data-point="3"][data-style=odd] {
        left: 30.5%;
        top: 81%;
        -webkit-transform: rotate(32deg);
        -moz-transform: rotate(32deg);
        -ms-transform: rotate(32deg);
        -o-transform: rotate(32deg);
        transform: rotate(32deg);
        transform-origin: top right;
    }

    .builderChainPoint[data-point="4"][data-style=odd] {
        left: 36%;
        top: 82%;
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        -o-transform: rotate(25deg);
        transform: rotate(25deg);
        transform-origin: top right;
    }

    .builderChainPoint[data-point="5"][data-style=odd] {
        left: 41.5%;
        top: 80.5%;
        -webkit-transform: rotate(12deg);
        -moz-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
        -o-transform: rotate(12deg);
        transform: rotate(12deg);
        transform-origin: top right;
    }

    .builderChainPoint[data-point="6"][data-style=odd] {
        left: 47%;
        top: 78%;
    }

    .builderChainPoint[data-point="7"][data-style=odd] {
        left: 52%;
        top: 78%;
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        transform: rotate(-15deg);
        transform-origin: top left;
    }

    .builderChainPoint[data-point="8"][data-style=odd] {
        left: 57%;
        top: 77.5%;
        -webkit-transform: rotate(-28deg);
        -moz-transform: rotate(-28deg);
        -ms-transform: rotate(-28deg);
        -o-transform: rotate(-28deg);
        transform: rotate(-28deg);
        transform-origin: top left;
    }

    .builderChainPoint[data-point="9"][data-style=odd] {
        left: 62%;
        top: 75%;
        -webkit-transform: rotate(-36deg);
        -moz-transform: rotate(-36deg);
        -ms-transform: rotate(-36deg);
        -o-transform: rotate(-36deg);
        transform: rotate(-36deg);
        transform-origin: top left;
    }

    .builderChainPoint[data-point="10"][data-style=odd] {
        left: 83.5%;
        top: 40.5%;
        -webkit-transform: rotate(-72deg);
        -moz-transform: rotate(-72deg);
        -ms-transform: rotate(-72deg);
        -o-transform: rotate(-72deg);
        transform: rotate(-72deg);
        transform-origin: top left;
    }

    .builderChainPoint[data-point="11"][data-style=odd] {
        left: 87.5%;
        top: 23%;
        -webkit-transform: rotate(-76deg);
        -moz-transform: rotate(-76deg);
        -ms-transform: rotate(-76deg);
        -o-transform: rotate(-76deg);
        transform: rotate(-76deg);
        transform-origin: top left;
    }

    .builderChainPoint[data-point="1"][data-style=even] {
        left: 0%;
        top: 44%;
        -webkit-transform: rotate(78deg);
        -moz-transform: rotate(78deg);
        -ms-transform: rotate(78deg);
        -o-transform: rotate(78deg);
        transform: rotate(78deg);
        transform-origin: top right;
    }

    .builderChainPoint[data-point="2"][data-style=even] {
        left: 4.5%;
        top: 59%;
        -webkit-transform: rotate(73deg);
        -moz-transform: rotate(73deg);
        -ms-transform: rotate(73deg);
        -o-transform: rotate(73deg);
        transform: rotate(73deg);
        transform-origin: top right;
    }

    .builderChainPoint[data-point="3"][data-style="even"] {
        left: 27.5%;
        top: 81%;
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        -o-transform: rotate(40deg);
        transform: rotate(40deg);
        transform-origin: top right;
    }

    .builderChainPoint[data-point="4"][data-style="even"] {
        left: 33%;
        top: 82.5%;
        -webkit-transform: rotate(31deg);
        -moz-transform: rotate(31deg);
        -ms-transform: rotate(31deg);
        -o-transform: rotate(31deg);
        transform: rotate(31deg);
        transform-origin: top right;
    }

    .builderChainPoint[data-point="5"][data-style="even"] {
        left: 38.5%;
        top: 81.5%;
        -webkit-transform: rotate(18deg);
        -moz-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
        -o-transform: rotate(18deg);
        transform: rotate(18deg);
        transform-origin: top right;
    }

    .builderChainPoint[data-point="6"][data-style="even"] {
        left: 44.5%;
        top: 80.5%;
        -webkit-transform: rotate(9deg);
        -moz-transform: rotate(9deg);
        -ms-transform: rotate(9deg);
        -o-transform: rotate(9deg);
        transform: rotate(9deg);
        transform-origin: top right;
    }

    .builderChainPoint[data-point="7"][data-style="even"] {
        left: 49%;
        top: 78.5%;
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
        transform-origin: top left;
    }

    .builderChainPoint[data-point="8"][data-style="even"] {
        left: 54.5%;
        top: 77.5%;
        -webkit-transform: rotate(-18deg);
        -moz-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        -o-transform: rotate(-18deg);
        transform: rotate(-18deg);
        transform-origin: top left;
    }

    .builderChainPoint[data-point="9"][data-style="even"] {
        left: 59.5%;
        top: 75.5%;
        -webkit-transform: rotate(-26deg);
        -moz-transform: rotate(-26deg);
        -ms-transform: rotate(-26deg);
        -o-transform: rotate(-26deg);
        transform: rotate(-26deg);
        transform-origin: top left;
    }

    .builderChainPoint[data-point="10"][data-style="even"] {
        left: 64.5%;
        top: 73%;
        -webkit-transform: rotate(-36deg);
        -moz-transform: rotate(-36deg);
        -ms-transform: rotate(-36deg);
        -o-transform: rotate(-36deg);
        transform: rotate(-36deg);
        transform-origin: top left;
    }

    .builderChainPoint[data-point="11"][data-style="even"] {
        left: 84%;
        top: 40%;
        -webkit-transform: rotate(-74deg);
        -moz-transform: rotate(-74deg);
        -ms-transform: rotate(-74deg);
        -o-transform: rotate(-74deg);
        transform: rotate(-74deg);
        transform-origin: top left;
    }

    .builderChainPoint[data-point="12"][data-style="even"] {
        left: 87%;
        top: 26%;
        -webkit-transform: rotate(-78deg);
        -moz-transform: rotate(-78deg);
        -ms-transform: rotate(-78deg);
        -o-transform: rotate(-78deg);
        transform: rotate(-78deg);
        transform-origin: top left;
    }
}

@media only screen and (max-width: 767px) {
    .builder_swatches ul {
        overflow: hidden;
        flex-wrap: nowrap;
        gap: 4px 10px;
        overflow-x: auto;
    }

    .builder_swatches ul.builder_tabs {
        max-width: 100%;
        padding: 0;
        gap: 0;
    }

    .builder_swatches {
        margin-top: 50px;
        order: 2;
        width: 100%;
    }

    ul.builder_tabs li.tab-link {
        flex-direction: column;
    }

    p.current_builder_active_tabs {
        display: none;
    }

    .builder_swatches ul {
        overflow: hidden;
        flex-wrap: nowrap;
        gap: 4px 10px;
        overflow-x: auto;
    }
    body .product__info-wrapper.grid__item {
        width: 100% !important;
        max-width: 100% !important;
        order: 3;
    }
    .selected_letters_and_pro.active {
        margin: 0;
    }
    .necklacebuilder_action_btns {
        flex-wrap: wrap;
    }
    .necklacebuilder_action_btns {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
    }
    button.necklacebuilderedit.button.medium-up-hide {
        background: transparent;
        border: 1px solid #000000;
        box-shadow: none;
        color: #303030;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }
    button.necklacebuilderedit.button {
        width: 30%;
        min-width: auto;
    }
}

@media screen and (min-width: 750px) {
    .product__info-wrapper {
        padding: 0 0 0 5rem;
    }
    .product__info-container {
        max-width: 60rem;
    }
    .product__column-sticky {
        display: block;
        position: sticky;
        top: 3rem;
        z-index: 2;
    }
    .product__info-container>*:first-child {
        margin-top: 0;
    }
    .medium-up-hide {
        display: none !important;
    }
}