.page-width {
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.product.product--medium.product--left.product--stacked {
    display: flex;
    flex-wrap: wrap;
}

.product.grid {
    gap: 0;
}

.product {
    margin: 0;
}

.grid {
    padding: 0;
    list-style: none;
}

.builder_swatches {
    width: 25%;
}

ul.builder_tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    max-width: 220px;
}

.builder_swatches ul {
    list-style: none;
    padding: 0 30px 0 0;
}

ul.builder_tabs li.current {
    opacity: 1;
}

ul.builder_tabs li {
    cursor: pointer;
}

ul.builder_tabs li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    position: relative;
    width: 33.33%;
    color: #252525;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: .5;
    padding-bottom: 5px;
    margin: 0 auto 5px 0;
}

.builder_swatches ul li.tab-link img {
    max-width: 40px;
}

@media only screen and (min-width: 768px) {
    ul.builder_tabs li.tab-link span {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
}

ul.builder_tabs li:after {
    content: "";
    position: absolute;
    bottom: -5px;
    border-bottom: 2px solid #DCC7B0;
    width: 100%;
    left: 0;
}